



$primary: #46B6C3;
$secondary: #E49961;

// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

p {
    color: #666666;
    line-height: 26px;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
}


.navbar-brand img {
    width: 80px;
}

.bg-image-home {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
     /* Background styles */
     background-image: linear-gradient(0deg,#343a40b5,#343a40b5), url(../../assets/img/bg-engine.jpg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     margin-top: -7em;

     p {
        color: #fff;
        line-height: 26px;
        margin: 0 0 15px;
        text-transform: none;
        
    }
     
}

.bg-image-contact {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
     /* Background styles */
     background-image: linear-gradient(0deg,#343a40b5,#343a40b5), url(../../assets/img/bg-contact.jpg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     
}

.bg-image-about {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
     /* Background styles */
     background-image: linear-gradient(0deg,#343a40b5,#343a40b5), url(../../assets/img/bg-about.jpg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     
}

.bg-image-passenger {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
     /* Background styles */
     background-image: linear-gradient(0deg,#343a40b5,#343a40b5), url(../../assets/img/bg-passenger.jpg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     
}


section {
    padding: 5rem 0;
}



.navbar {

padding: .8rem 1rem;
background-color: transparent!important;
transition: background-color 1s ease 0s;
    .navbar-nav {
        
            
            .nav-link {
                color: white;
                text-transform: uppercase;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
            .nav-link:hover {
                color: #46B6C3;
                
            }
            .nav-link::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: #46B6C3;
                transition: width .8s;
            }
            
            .nav-link:hover::after {
                width: 100%;
                //transition: width .3s;
                color: #46B6C3;
            }
        
            
    }
}

.navbar.solid {
    background-color: #fff!important;
    transition: background-color 1s ease 0s;
    
  
      .navbar-nav {
  
         > li {
  
            > a {
              color: #646464;
              transition: color 1s ease 0s;
            }
  
         } //end li
  
      } //end .navbar-nav
  
  }

.dropdown-toggle::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline;
    border: none;
    vertical-align: 0;
}

.dropdown .dropdown-menu {
    
    position: absolute;
    left: 0;
    top: 148%;
    width: 200px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 0;
    
    z-index: 555;
    border: none;
    text-align: left;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(31, 36, 39, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(31, 36, 39, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(31, 36, 39, 0.15);

    li {
        line-height: 1;
    }

}

nav.navbar.shrink {
    -webkit-box-shadow: 0px 1px 15px 0px rgba(191,191,191,1);
    -moz-box-shadow: 0px 1px 15px 0px rgba(191,191,191,1);
    box-shadow: 0px 1px 15px 0px rgba(191,191,191,1);
    width: 100%;
    position: fixed;
    left: 0px;
    transition: all 1.5s ease;
    padding: 0;
    z-index: 1;

   

}
nav.navbar.shrink .navbar-brand  img{
  transition: all 1.5s ease;
}
nav.navbar.shrink a {
  font-size: 14px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: all 1.5s ease;
}
nav.navbar.shrink .navbar-toggler {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
  transition: all 1.5s ease;
}





.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #46B6C3;
    border-radius: 0.25rem;
}

.box-section {
    img {
        width: 100px;
    }
}

.bg-blue {
    background-color: #46B6C3;
    color: #fff;

    p {
        color: #fff;
        line-height: 26px;
        margin: 0 0 15px;
        text-transform: none;
        
    }
}

.bg-grey {
    background: linear-gradient(#212529f0, #212529f0), url(../../assets/img/bg-gray-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.color-section {

    button {
        float: right!important;
        margin-bottom: 4rem;
    }
}

.bg-orange {
    background-color: #E3683A;
    color: #fff;
    p {
        color: #fff;
        line-height: 26px;
        margin: 0 0 15px;
        text-transform: none;
        
    }
}

.bg-orange-2 {
    background-color: #e0754d;
    color: #fff;
    p {
        color: #fff;
        line-height: 26px;
        margin: 0 0 15px;
        text-transform: none;
        
    }
}

.bg-orange-3 {
    background-color: #e27e59;
    color: #fff;
    p {
        color: #fff;
        line-height: 26px;
        margin: 0 0 15px;
        text-transform: none;
        
    }
}

.blue-bg-image {
    background-image: url(../../assets/img/car-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
}

.orange-bg-image {
    background-image: url(../../assets/img/analytics-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
}

.container-fluid {
    padding: 0;
}

.split-section {
    min-height: 100%;
}

.color-section {
    padding: 4rem;

    .section-title {
        position: relative;
        margin-bottom: .5rem;
    }
    .section-title p {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 400;
    }
    .section-title h3 {
        font-size: 40px;
        font-weight: 300;
        text-transform: capitalize;
        position: relative;
        padding-bottom: 15px;
        display: inline-block
    }
    .section-title h3:before {
        position: absolute;
        content: "";
        width: 80px;
        height: 2px;
        background-color: #d8d8d8;
        bottom: 0;
        left: 2.5rem;
        margin-left: -40px;
    }
    .section-title h3:after {
        position: absolute;
        content: "";
        width: 50px;
        height: 2px;
        background-color: #d8d8d8;
        left: 0;
        bottom: 0;
        left: 2rem;
        margin-left: -25px;
    }
}

.section-title {
    position: relative;
    margin-bottom: .5rem;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h3 {
	font-size: 40px;
	font-weight: 300;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 15px;
	display: inline-block
}
.section-title h3:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h3:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #46B6C3;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}

.section-title h4 {
	font-size: 30px;
	font-weight: 300;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 15px;
	display: inline-block
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #46B6C3;
	bottom: 0;
	left: 2.5rem;
	margin-left: -40px;
}
.section-title h4:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #46B6C3;
	left: 0;
	bottom: 0;
	left: 20%;
	margin-left: -25px;
}

.services {
	background-color: #FBFBFB;
}
.single-service {
	position: relative;
	text-align: center;
	-webkit-transition: .3s;
	transition: .3s;
	padding: 30px 20px 20px 20px;
	
}
.single-service:before {
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:after {
	position: absolute;
	width: 0;
	height: 0;
	right: 0;
	bottom: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover:after,
.single-service:hover:before {
	width: 50%;
	height: 2px;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover {
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}
.single-service i.fas {
	font-size: 35px;
    width: 100px;
    height: 100px;
    border: 1px solid
    #ddd;
    line-height: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}
.single-service:hover i.fas {
	background-color: #46B6C3;
	color: #fff;
	border-color: #46B6C3;
	
}
.single-service h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.single-service p {
	font-size: 15px;
	line-height: 1.8;
}

.quote-item p:before {
    content: "\f10d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: left;
    margin-right: 10px;
}

.quote-item p:after {
    content: "\f10e";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
    margin-left: 10px;
}


.newsletter {
    background-color:#46B6C3;

    span {
        background-color: white;
        padding: 0 .5rem;
        line-height: 2;
        border-bottom-left-radius: .3rem;
    border-top-left-radius: .3rem;
    }
}


.footer { background-color: #3A3A3A; padding-top: 30px; color: #646464; font-weight: 400; font-size: 17px; }
.footer-line { border-color: #646464; }
.footer-widget { padding-bottom: 50px; }
.footer-title { font-size: 24px; font-weight: 600; margin-bottom: 44px; color: #fff; }
.footer-widget ul li a { text-transform: capitalize; font-size: 17px; color: #646464; display: block; font-weight: 600; }
.footer-widget ul li a:hover { color: #fff; }
.tiny-footer { font-size: 14px; padding: 14px 0px; font-weight: 600; background-color: transparent; border-top: 1px solid #646464; color: #888d90; line-height: 1; }
.ft-logo img {
    width: 80px;
}

.contact-info li .icon {
    display: block;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    color: #46B6C3;
    text-align: center;
    line-height: 50px; }

.map {
    margin-bottom: -6px;
}

.about .card {
    border: none;
}

.section-bg-gray {
    background-color: #f7f7f7;

    .single-service {
        position: relative;
        text-align: center;
        -webkit-transition: .3s;
        transition: .3s;
        padding: 30px 20px 20px 20px;
        
    }
    .single-service:before {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        content: "";
        -webkit-transition: .3s;
        transition: .3s
    }
    .single-service:after {
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        bottom: 0;
        content: "";
        -webkit-transition: .3s;
        transition: .3s
    }
    .single-service:hover:after,
    .single-service:hover:before {
        width: 50%;
        height: 2px;
        -webkit-transition: .3s;
        transition: .3s
    }
    .single-service:hover {
        box-shadow: none;
    }
    .single-service i.fas {
        font-size: 35px;
        width: 100px;
        height: 100px;
        border: 1px solid
        #ddd;
        line-height: 100px;
        margin-bottom: 30px;
        border-radius: 50%;
        -webkit-transition: .3s;
        transition: .3s;
    }
    .single-service:hover i.fas {
        background-color: transparent;
        color: #46B6C3;
        box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
        
    }
    .single-service h4 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
        text-transform: capitalize;
    }
    .single-service p {
        font-size: 15px;
        line-height: 1.8;
    }

}

.process-item {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.process-item .icon {
    color: #46B6C3;
    font-size: 60px;
    display: table-cell;
    vertical-align: top;
}

.process-item .info {
    padding-left: 30px;
    display: table-cell;
    vertical-align: top;
}

.fa-newspaper:before {
    content: "\f1ea";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa-chart-line:before {
    content: "\f201";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa-check-double:before {
    content: "\f2b9";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.product-image {
    width: 350px;
}

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(40, 40, 40, 0.1);
    box-shadow: 0px 8px 16px 0px rgba(40, 40, 40, 0.1);
}

.top-cards {
    margin-top: -9em;
}

@media screen and (max-width: 576px) {
    .blue-bg-image {
        height: 20rem;
    }

    .orange-bg-image {
        height: 20rem;
    }
}